{{define "edit"}}
  {{template "base" .}}
{{end}}

{{define "title"}}Edit{{end}}

{{define "content"}}
<div class="container max-lg">
    <div class="">
    <a href="/deck/{{.DeckID}}" class="btn btn-outline-secondary d-inline-flex align-items-center gap-1">
      <i class="bi bi-arrow-left"></i> Return
    </a>
  </div>
</div>

<div class="container py-4 max-md">
  <div class="mb-4 mt-4">
    <label class="form-label fs-4">Title</label>
    <input
      type="text"
      class="deck-title form-control mb-3 fs-2"
      id="deck-title"
      placeholder="Enter title..."
      data-deck-id="{{.DeckID}}"
      value="{{.Name}}"
    >
  </div>
  {{if .Cards}}
  <div id="edit-list" class="edit-list">
    {{range $i, $c := .Cards}}
    {{template "partials/card_editor" (dict "Index" $i "Card" $c "DeckID" $.DeckID)}}
    {{end}}
  </div>
  {{else}}
  <div id="edit-list" class="edit-list"></div>
  {{end}}

  <!-- Add Card button -->
  <div class="d-flex">
    <button id="add-card-btn" class="btn btn-outline-primary w-100" data-deck-id="{{.DeckID}}">
      + Add Card
    </button>
  </div>


  <div class="d-flex justify-content-center pt-4">
    <a id="done-btn" href="/deck/{{.DeckID}}" class="btn btn-primary px-4 fw-semibold" data-deck-id="{{.DeckID}}">Done</a>
  </div>
</div>

<link rel="preload" as="script" href="/static/js/updateCard.js">
<script src="/static/js/updateCard.js" defer></script>
<script src="/static/js/addCard.js" defer></script>
<script src="/static/js/deleteCard.js" defer></script>
{{end}}
