{{define "home"}}
  {{template "base" .}}
{{end}}

{{define "title"}}Homepage{{end}}

{{define "content"}}
  <h1>Home</h1>
  <p>This is the homepage.</p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{range .Decks}}
    <div class="col">
      <a href="/deck/{{.ID}}" class="text-decoration-none text-dark">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{.Name}}</h5>
          </div>
        </div>
      </a>
    </div>
    {{else}}
    <p>No decks found</p>
    {{end}}
  </div>


{{end}}
